@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

#hello {
    text-align : center;
}

#intro {
    text-align : center;
}

#emoji {
     background-color : rgb(247, 216, 158);
     text-align: center;
     border : solid white;
     margin-left : 30px;
     padding : 10px;
     width : 45%;
     position : absolute;
     border-radius : 20px;
}

#counter {
    background-color : rgb(249, 246, 152);
    text-align: center;
    border : solid white;
    margin-left : 50%;
    padding : 10px;
    width : 45%;
    position : absolute;
    border-radius : 20px;
}

#movie {
    background-color : rgb(215, 233, 211);
    text-align: center;
    border : solid white;
    margin-top: 150px;
    margin-left :30px;
    padding : 10px;
    position : absolute;
    width : 93.5%;
    border-radius : 20px;
}


#song {
    background-color : rgb(236, 229, 246);
    text-align: center;
    border : solid white;
    margin-top: 680px;
    margin-left :30px;
    padding : 10px;
    position : absolute;
    width : 93.5%;
    border-radius : 20px;
}

h1 {
    font-family: 'Bagel Fat One';
    font-weight : 100;
}

ul {
    list-style: none;
    padding: 0;
    display: flex; /* Flex container */
    justify-content: space-between; /* Items will be spaced evenly */
  }
  
li {
    padding: 10px;
    border: 1px solid #ccc;
    width: 48%; /* Adjust this value to control the width of each item */
  }

#btn1 {
    background-color : rgb(232, 191, 191)(255, 0, 0);
    border-radius : 5px;
    font-family : 'Bagel Fat One';   
}

#btn2 {
    background-color : rgb(232, 191, 191)(255, 0, 0);
    border-radius : 5px;
    font-family : 'Bagel Fat One';   
}



