#arrow {
    width : 30px;
    height : 30px;
    margin-left : 26%;
    margin-top : 4%;
}

#re {
    position : absolute;
    background-color : #f6f6f6;
    margin-left : 27.5%;
    margin-top : 4%;
    width : 46%;
    height : 15%;
    z-index :1;
    border-radius : 10px; 
}

#img3 {
    position : absolute;
    width :40px;
    height : 45px;
    margin-left : 10px;
    margin-top : 75px;
    padding-top : 10px;
    z-index :2;
}

#feedback2 {
    position : absolute;
    display : inline;
    width : 130px;
    height : 50px;
    margin-left : 39%;
    margin-top : 90px;
    padding-top : 0px;
    z-index :3;
}

#r1 {
    position : absolute;
    display : inline;
    font-size : 21px;
    font-weight : bold;
    color : rgb(5, 188, 155);
    margin-left : 70px;
    margin-top : 70px;
    padding-bottom : 20px;
    padding-top : 20px;
    z-index :4;
}

#r2 {
    position : absolute;
    margin-top : 20px;
    margin-left : 28%;
    z-index :5;
}

#r3 {
    position : absolute;
    margin-top :50px;
    margin-left : 28%;
    padding-top : 0px;
    color : gray;
    z-index :6;
}
